[submodule "mLamp-Arduino"]
	path = mLamp-Arduino
	url = git://github.com/mirosval/mLamp-Arduino
[submodule "mLamp-Raspberry"]
	path = mLamp-Raspberry
	url = git@github.com:mirosval/mLamp-Raspberry.git
[submodule "mLamp-Schematics"]
	path = mLamp-Schematics
	url = git@github.com:mirosval/mLamp-Schematics.git
